# Python/Environment
venv/
.env
energy_prediction_env/
__pycache__/

# Data
*.csv
*.json
# File output besar dari praproses
praproses/model_output_harian

# Model & Scaler
*.h5
*.pkl
*.joblib
scalers.pkl

# Log & Laporan (Outputs)
*.log
*.png
*.md
README.md

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Abaikan file .gitattributes
.gitattributes